
.bg_color1
  background-color:#F9F9F9

.bloque-texto-g__img 
    width: 45%

.tarjeta--azul 
    background-color: #F0F8CA
    height: 178px

.cajon.color-acento-contenido:before 
    background-color: #CCE951
.cajon.color-acento-contenido 
    background-color: #F5FBDC

.cajon:before 
    width: 85px

.cajon.color-acento-botones:before 
    background-color: #387DB8
.cajon.color-acento-botones 
    background-color: #D7E5F1

.verticalLine
    border-left: thick solid #CCE951

.font_1
   font-size: 3em

.flex-end
  display: flex
  flex-wrap: wrap
  align-items: flex-end
  justify-content: flex-end
  flex-direction: row

.flex-center
  display: flex
  flex-wrap: wrap
  align-items: center
  justify-content: center
  flex-direction: row

.bloque-texto-g__img 
    width: 45%
    @media screen and ( max-width: 420px )
       width: 100% 

.height_img-t-1
    height: 386px

.padding_cajon-t1-1
    padding: 3rem!important
    @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
        padding: 2rem!important

.img-a 
  display: block
  margin: auto
  @media (min-width: $bp-min-lg) and (max-width: $bp-max-xl)
    width: 95%

.banner-interno__fondo
  background-image: url("../assets/curso/portada/banner-interno.svg")!important
